# Example build.env file.
#
# Copy this file to build.env and set values appropriate for your local development environment.
# During CI initiated builds, this file is created from values stored in the environment configuration repository (e.g. SSM)

# AWS configuration
AWS_PROFILE=SymRnD
aws_deploy_bucket=mike-bucket
aws_deploy_s3prefix=nx-api

# Application / Library Specific properties
#
# Note: Use property keys for automatic ParameterOverrides in Cloudformation Templates
# CFN ParameterName = MyParameter, corresponding property key = MY_PARAMETER